body{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/notebook.png");
    /* background: black; */
}

/* #survey-container{
    font-family: 'Just Another Hand', cursive;
    font-size: 10px;
} */